.articles-news {
    padding-top: 5.6rem;
    background-color: transparent;
  }
  .articles-news .container .content-header {
    display: flex;
    justify-content: space-between;
  }
  .articles-news .container .content-header h2 {
    font-family: "DM Sans", sans-serif;
    font-size: 45px;
    font-weight: bold;
    margin-bottom: 2.5rem;
  }

  .articles-news .container .content-boxes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 3rem;
  }

 .img {
    width: 100%;
    max-height: 250px;
    object-fit: cover;
    margin-top: 50px;
  }
 
  h4 {
    font-family: "DM Sans", sans-serif;
    font-size: 22px;
    font-weight: bold;
    margin-top: 1.5rem;
  }

  p {
    margin-top: 1rem;
    margin-bottom: 1rem;
  } 

  a {
    color: #191919;
    text-decoration: none;
    position: relative;
  }

  .color-box{
    position: absolute;
    width: 23%;
    background-color:#F9D783;
    top: 60px;
    left: 10px;
  }

  .articles-news .container .dots {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 4.3rem;
    padding-bottom: 5.6rem;
  }