.articles-news {
    padding-top: 5.6rem;
  }
  .articles-news .container .content-header {
    display: flex;
    justify-content: space-between;
  }
  .articles-news .container .content-header h2 {
    font-family: "DM Sans", sans-serif;
    font-size: 45px;
    font-weight: bold;
    margin-bottom: 2.5rem;
  }

  .articles-news .container .articles .articleboxes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    -moz-column-gap: 3rem;
         column-gap: 3rem;
  }

  .articles-news .container .articles .box-img {
    width: 100%;
    position: relative;
  }
  .articles-news .container .articles .box-img .box {
    display: inline-block;
    padding: 1rem;
    padding-bottom: 0.2rem;
    background-color: #F0D082;
    position: absolute;
    left: 1rem;
    top: 1rem;
  }
  .articles-news .container .articles .box-img .box-color span {
    text-align: center;
    font-family: "DM Sans", sans-serif;
    font-size: 22px;
    font-weight: bold;
  }
  .articles-news .container .articles .box-img .box-color p {
    text-align: center;
    margin: 0;
    margin-top: -0.5rem;
  }
  .articles-news .container .articles .box-info {
    margin-top: 1.5rem;
  }
  .articles-news .container .articles .box-info h4 {
    font-family: "DM Sans", sans-serif;
    font-size: 22px;
    font-weight: bold;
    width: 80%;
    margin-top: 1.5rem;
  }
  .articles-news .container .articles .box-info p {
    margin-top: 1rem;
  }
  .articles-news .container .dots {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 4.3rem;
    padding-bottom: 5.6rem;
  }